page-bin {
    .g-btn{
        background: rgb(221, 221, 221);
        color: black;
        font-size: 13px;
    }

    .g-icn{
        background: transparent;
        width: 20px;
        height: 20px;
    }

    .i-b{
        font-size: 10px;
        width: 50px;
        height: 15px;
    }

    .i-item{
        background-color: #EEEEEE;
    }
}
